---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from '@/components/Footer.astro';
import { Trainers } from "@/constants/Trainers";
import CardTrainer from "@/components/CardTrainer.astro";
---

<Layout title="El Nostre Equip - SQSR">
  <Container className="md:pt-36 max-w-sm sm:max-w-xl md:max-w-3xl">
    <h1 class="text-4xl font-semibold px-2 md:px-0">El Nostre Equip</h1>
    <p class="text-gray-300 text-xl mt-4 mb-10 px-2 md:px-0">
      We’re a dynamic group of individuals who are passionate about what we do
      and dedicated to delivering the best results for our clients.
    </p>
    <section class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8">
      {
        Trainers.map((trainer) => (
          <CardTrainer trainer={trainer} />
        ))
      }
    </section>
  </Container>
  <Footer/>
</Layout>
