---
import Container from "@/components/Container.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sant Quirze Sobre Rodes - Entrenaments de roller freestyle">
  <Container>
    <section>
      <h1>Entrenaments de roller freestyle</h1>
      <p class="my-6 text-pretty text-lg">
        Sessions d’1 hora. Individuals i en grups reduïts amb un màxim de 5
        components per grup. Activitats amb objectius atenent al nivell dels
        patinadors i les patinadores.
      </p>
      <div>
        <h2 class="max-w-max font-bold text-xl mb-4 text-center md:text-left">
          Nivell Principiant
        </h2>
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full hover:text-white text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Adquirir <span class="font-bold">habilitats</span> motrius bàsiques
                en patins en línia.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Aprendre el funcionament d’un skatepark.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Conèixer els mòduls que conformen un <span class="font-bold"
                  >skatepark.</span
                >
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-10">
        <h2 class="max-w-max font-bold text-xl mb-4 text-center md:text-left">
          Nivell Intermig
        </h2>
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Adquirir <span class="font-bold">habilitats</span> motrius bàsiques
                en patins en línia.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Aprendre el funcionament d’un skatepark.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Conèixer els mòduls que conformen un <span class="font-bold"
                  >skatepark.</span
                >
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-10">
        <h2 class="max-w-max font-bold text-xl mb-4 text-center md:text-left">
          Nivell Intermig
        </h2>
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Adquirir <span class="font-bold">habilitats</span> motrius bàsiques
                en patins en línia.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Aprendre el funcionament d’un skatepark.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Conèixer els mòduls que conformen un <span class="font-bold"
                  >skatepark.</span
                >
              </span>
            </div>
          </li>
        </ul>
      </div>

      <h2 class="mt-24 text-center md:text-5xl text-terciary">
        Preus curs 2025
      </h2>
      <div
        class="mx-auto mt-4 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-8 sm:gap-y-0 lg:max-w-none lg:grid-cols-3"
      >
        <div
          class="rounded-3xl rounded-t-3xl bg-foreground p-8 ring-1 ring-terciary sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl"
        >
          <span id="tier-hobby" class="text-base/7 font-semibold text-terciary">
            Flexible
          </span>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-accent"
              >25€</span
            >
            <span class="text-base text-gray-500">/mes</span>
          </p>
          <p class="mt-6 text-base/7 text-gray-300">
            Ideal per començar sense presses. Aprèn les bases del patinatge i
            millora al teu ritme.
          </p>
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              1 sessió setmanal
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Classes guiades per monitor/a
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Progressió al teu ritme
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Ideal per a principiants
            </li>
          </ul>
          <a
            href="#"
            aria-describedby="tier-hobby"
            class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-terciary hover:text-white ring-1 ring-terciary ring-inset hover:ring-white focus-visible:outline-2 focus-visible:outline-offset-2 sm:mt-10"
            >Vull apuntar-me</a
          >
        </div>
        <div
          class="relative rounded-3xl bg-terciary p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10"
        >
          <span
            id="tier-enterprise"
            class="text-base/7 font-semibold text-accent"
          >
            Equilibrat
          </span>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-primary"
              >45€</span
            >
            <span class="text-base text-gray-900">/mes</span>
          </p>
          <p class="mt-6 text-base/7 text-primary font-semibold">
            L’equilibri perfecte entre diversió i progressió. Millora les teves
            habilitats més ràpid.
          </p>
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-primary sm:mt-10 font-semibold"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-white"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              2 sessions setmanals
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-white"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Aprenentatge més ràpid
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-white"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Millora de tècnica i equilibri
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-white"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Exercicis més avançats
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-white"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Perfecte per a qui vol progressar
            </li>
          </ul>
          <a
            href="#"
            aria-describedby="tier-enterprise"
            class="mt-8 block rounded-md bg-primary px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-foreground focus-visible:outline-2 focus-visible:outline-offset-2 sm:mt-10"
            >Vull apuntar-me</a
          >
        </div>
        <div
          class="rounded-3xl rounded-t-3xl bg-foreground p-8 ring-1 ring-terciary sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tl-none lg:rounded-br-3xl"
        >
          <span id="tier-hobby" class="text-base/7 font-semibold text-terciary">
            Intensiu
          </span>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-accent"
              >60€</span
            >
            <span class="text-base text-gray-500">/mes</span>
          </p>
          <p class="mt-6 text-base/7 text-gray-300">
            Per als apassionats del patinatge. Avança com un professional amb
            entrenaments regulars.
          </p>
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              3 sessions setmanals
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Aprenentatge accelerat
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Perfeccionament de tècnica
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Recomanat per a nivells mitjà/avançat
            </li>
          </ul>
          <a
            href="#"
            aria-describedby="tier-hobby"
            class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold hover:text-white text-terciary ring-1 ring-terciary ring-inset hover:ring-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10"
            >Vull apuntar-me</a
          >
        </div>
      </div>

      <h2 class="mt-24 text-center md:text-5xl text-terciary">
        Preu Classe Individual
      </h2>
      <div
        class="mx-auto mt-4 grid max-w-lg grid-cols-1 items-center justify-center gap-y-6 sm:mt-8 sm:gap-y-0"
      >
        <div
          class="relative rounded-3xl bg-foreground p-8 ring-1 ring-terciary shadow-2xl sm:p-10"
        >
          <span
            id="tier-enterprise"
            class="text-base/7 font-semibold text-terciary"
          >
            Personalitzada
          </span>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-secondary"
              >25€</span
            >
            <span class="text-base text-gray-500">/mes</span>
          </p>
          <p class="mt-6 text-base/7 text-secondary font-semibold">
            Atenció personalitzada per millorar els teus punts febles i
            perfeccionar la teva tècnica.
          </p>
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-secondary sm:mt-10 font-semibold"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Atenció 100% personalitzada
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Objectius adaptats a tu
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Correcció d’errors específics
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Flexibilitat d’horari
            </li>
          </ul>
          <a
            href="#"
            aria-describedby="tier-enterprise"
            class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-terciary hover:text-white ring-1 ring-terciary ring-inset hover:ring-white focus-visible:outline-2 focus-visible:outline-offset-2 sm:mt-10"
            >Vull apuntar-me</a
          >
        </div>
      </div>

      <h2 class="mt-24 text-center md:text-5xl text-terciary">
        Preu Classe Grupal Puntual
      </h2>
      <div
        class="mx-auto mt-4 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-8 sm:gap-y-0"
      >
        <div
          class="relative rounded-3xl bg-foreground p-8 ring-1 ring-terciary shadow-2xl sm:p-10"
        >
          <span
            id="tier-enterprise"
            class="text-base/7 font-semibold text-terciary"
          >
            Dinàmica
          </span>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-5xl font-semibold tracking-tight text-secondary"
              >50€</span
            >
            <span class="text-base text-gray-500">/mes</span>
          </p>
          <p class="mt-6 text-base/7 text-secondary font-semibold">
            Vine amb amics o uneix-te a un grup. Aprèn i gaudeix en una sessió
            dinàmica.
          </p>
          <ul
            role="list"
            class="mt-8 space-y-3 text-sm/6 text-secondary sm:mt-10 font-semibold"
          >
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Sessió dinàmica en grup
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Aprenentatge col·laboratiu
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Exercicis variats i divertits
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Ideal per provar el patinatge
            </li>
            <li class="flex gap-x-3">
              <svg
                class="h-6 w-5 flex-none text-terciary"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                  clip-rule="evenodd"></path>
              </svg>
              Perfecte per a qui vol progressar
            </li>
          </ul>
          <a
            href="#"
            aria-describedby="tier-enterprise"
            class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-terciary hover:text-white ring-1 ring-terciary ring-inset hover:ring-white focus-visible:outline-2 focus-visible:outline-offset-2 sm:mt-10"
            >Vull apuntar-me</a
          >
        </div>
      </div>
    </section>
  </Container>
  <Footer />
</Layout>
