---
import Container from "@/components/Container.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sant Quirze Sobre Rodes - Entrenaments de roller freestyle">
  <Container>
    <section>
      <h1>
        Entrenaments de roller freestyle
      </h1>
      <p class="my-6 text-pretty text-lg">
        Sessions d’1 hora. Individuals i en grups reduïts amb un màxim de 5
        components per grup. Activitats amb objectius atenent al nivell dels
        patinadors i les patinadores.
      </p>
      <div>
        <h2 class="max-w-max font-bold text-xl mb-4 text-center md:text-left">
          Nivell Principiant
        </h2>
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Adquirir <span class="font-bold">habilitats</span> motrius bàsiques
                en patins en línia.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Aprendre el funcionament d’un skatepark.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Conèixer els mòduls que conformen un <span class="font-bold"
                  >skatepark.</span
                >
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-10">
        <h2 class="max-w-max font-bold text-xl mb-4 text-center md:text-left">
          Nivell Intermig
        </h2>
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Adquirir <span class="font-bold">habilitats</span> motrius bàsiques
                en patins en línia.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Aprendre el funcionament d’un skatepark.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Conèixer els mòduls que conformen un <span class="font-bold"
                  >skatepark.</span
                >
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-10">
        <h2 class="max-w-max font-bold text-xl mb-4 text-center md:text-left">
          Nivell Intermig
        </h2>
        <ul class="space-y-2 sm:space-y-4">
          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Adquirir <span class="font-bold">habilitats</span> motrius bàsiques
                en patins en línia.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Aprendre el funcionament d’un skatepark.
              </span>
            </div>
          </li>

          <li class="flex gap-x-3">
            <span
              class="size-5 flex justify-center items-center rounded-full text-terciary"
            >
              <svg
                class="shrink-0 size-5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><polyline points="20 6 9 17 4 12"></polyline></svg
              >
            </span>
            <div class="grow">
              <span class="text-sm sm:text-base text-gray-300">
                Conèixer els mòduls que conformen un <span class="font-bold"
                  >skatepark.</span
                >
              </span>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </Container>
  <Footer />
</Layout>
