---
import Container from "@/components/Container.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sant Quirze Sobre Rodes - Extraescolars de roller freestyle">
  <Container>
    <section>
      <h1>Extraescolars de Patinatge en Línia</h1>
      <p
        class="mx-auto mt-16 max-w-5xl text-balance text-center text-xl font-semibold tracking-tight text-terciary sm:text-3xl"
      >
        Aprèn, diverteix-te i millora amb les nostres extraescolars de patinatge
        en línia!
      </p>

      <div
        class="mt-10 grid gap-4 sm:mt-16 grid-cols-1 lg:grid-cols-3 lg:grid-rows-2"
      >
        <div class="relative lg:row-span-2">
          <div
            class="absolute inset-px rounded-lg bg-foreground lg:rounded-l-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]"
          >
            <div class="px-8 py-6 sm:px-10 sm:py-10">
              <p
                class="text-xl lg:text-2xl font-bold tracking-tight text-terciary max-lg:text-center"
              >
                Què oferim?
              </p>
              <ul role="list" class="mt-8 space-y-8 text-gray-300">
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-12 icon icon-tabler icons-tabler-outline icon-tabler-check text-terciary"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M5 12l5 5l10 -10"></path></svg
                  >
                  <span
                    ><strong class="font-semibold text-secondary">
                      Objectius pràctics:</strong
                    > Millora de l’equilibri, la coordinació i el control dels patins.</span
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-12 icon icon-tabler icons-tabler-outline icon-tabler-check text-terciary"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M5 12l5 5l10 -10"></path></svg
                  >
                  <span
                    ><strong class="font-semibold text-secondary"
                      >Objectius conceptuals:</strong
                    > Aprendre tècniques bàsiques i avançades de patinatge.</span
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-12 icon icon-tabler icons-tabler-outline icon-tabler-check text-terciary"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M5 12l5 5l10 -10"></path></svg
                  >
                  <span
                    ><strong class="font-semibold text-secondary"
                      >Objectius actitudinals:</strong
                    > Fomentar la disciplina, l'autocontrol i el treball en equip.</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="relative max-lg:row-start-1">
          <div
            class="absolute inset-px rounded-lg bg-foreground max-lg:rounded-t-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]"
          >
            <div class="flex flex-1 items-center justify-center">
              <img
                class="size-full object-cover object-top"
                src="/images/missio-del-equip/1.webp"
                alt="Patinatge en línia"
              />
            </div>
          </div>
        </div>
        <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
          <div class="absolute inset-px rounded-lg bg-foreground"></div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
          >
            <div
              class="flex justify-center items-center flex-col gap-4 px-8 py-6 sm:px-10 sm:py-10"
            >
              <p
                class="text-xl lg:text-2xl font-bold tracking-tight text-terciary max-lg:text-center"
              >
                Com apuntar-se?
              </p>
              <p
                class="mt-2 max-w-lg text-sm/6 text-gray-300 max-lg:text-center"
              >
                Per a més informació o per reservar una plaça, contacta'ns a:
              </p>
              <a
                class="flex gap-1 text-secondary hover:text-terciary bg-terciary hover:bg-primary px-8 py-2 rounded-sm transition-colors"
                href="mailto:santquirzesobrerodes@gmail.com"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                  ></path><path
                    d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                  ></path><path d="M3 7l9 6l9 -6"></path></svg
                > santquirzesobrerodes@gmail.com</a
              >
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
          >
          </div>
        </div>
        <div class="relative lg:row-span-2">
          <div
            class="absolute inset-px rounded-lg bg-foreground max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
          >
          </div>
          <div
            class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]"
          >
            <div class="px-8 py-6 sm:px-10 sm:py-10">
              <p
                class="text-xl lg:text-2xl font-bold tracking-tight text-terciary max-lg:text-center"
              >
                Detalls del curs
              </p>
              <ul role="list" class="mt-8 space-y-8 text-gray-300">
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-12 text-terciary icon icon-tabler icons-tabler-outline icon-tabler-clock"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"
                    ></path><path d="M12 7v5l3 3"></path></svg
                  >
                  <span
                    ><strong class="font-semibold text-secondary">
                      Durada:</strong
                    > Les sessions s'adapten segons la disponibilitat dels monitors
                    i les escoles.</span
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-12 text-terciary icon icon-tabler icons-tabler-outline icon-tabler-calendar"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                      d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
                    ></path><path d="M16 3v4"></path><path d="M8 3v4"
                    ></path><path d="M4 11h16"></path><path d="M11 15h1"
                    ></path><path d="M12 15v3"></path></svg
                  >
                  <span
                    ><strong class="font-semibold text-secondary"
                      >Dies i Horaris:</strong
                    > Depenen de la disponibilitat i els horaris de les escoles.</span
                  >
                </li>
                <li class="flex gap-x-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-14 text-terciary icon icon-tabler icons-tabler-outline icon-tabler-roller-skating"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                      d="M5.905 5h3.418a1 1 0 0 1 .928 .629l1.143 2.856a3 3 0 0 0 2.207 1.83l4.717 .926a2.084 2.084 0 0 1 1.682 2.045v.714a1 1 0 0 1 -1 1h-13.895a1 1 0 0 1 -1 -1.1l.8 -8a1 1 0 0 1 1 -.9z"
                    ></path><path d="M8 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
                    ></path><path d="M16 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
                    ></path></svg
                  >
                  <span
                    ><strong class="font-semibold text-secondary">Edat:</strong>
                    Adaptat a nens i nenes de diverses edats, des de principiants
                    fins a nivells més avançats</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"
          >
          </div>
        </div>
      </div>
    </section>
  </Container>
  <Footer />
</Layout>
