---
import { Image } from "astro:assets";
import Instagram from "@/components/icons/instagram";
const { trainer } = Astro.props;
const { name, category, socials } = trainer;
---

<div class="flex flex-col">
  <div class="relative overflow-hidden rounded-t-md">
    <Image
      src={`/images/el-nostre-equip/${name}.webp`}
      width={300}
      height={300}
      alt={`Imatge de ${name}`}
      class="absoulte h-auto w-full shadow-sm hover:scale-110 transition-all"
    />
  </div>
  <div class="flex justify-between p-4 bg-foreground rounded-b-md">
    <div class="flex flex-col gap-2">
      <span class="text-secondary text-xl font-bold">{name}</span>
      <span class="text-terciary">{category}</span>
      <p class="text-gray-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat neque natus optio deleniti dicta nihil.</p>
    </div>
    <div class="size-6 flex justify-center items-center">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="bg-terciary hover:bg-secondary p-1 hover:text-terciary rounded-full transition-colors cursor-pointer"
        ><Instagram className="size-5" /></a
      >
    </div>
  </div>
</div>
