---
import HeroContent from "@/components/Hero-content";

---

<section class="w-full h-screen max-h-screen flex items-center ">
  <HeroContent client:load/>
</section>

<style>
  section{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.665)), url("/images/background-home.webp") top center no-repeat;
    background-size: cover;
  }
</style>